## <span style=color:blue>Fetching GAEZ soil data for an ML pipeline</span>

###  <span style=color:blue>Note: rather than using GAEZ, you might want to use the ISRIC soil data. </span>

<span style=color:blue>E.g., see https://soilgrids.org and https://www.isric.org/explore/soilgrids/faq-soilgrids.  (It may take some digging around to make things work.  You probably want to use the EPSG:4326 (Plate Carre) projection.) Also, if you are working with yield data at the county level, then you might want to use soil grid data at the 5k x 5k gridsize, rather than then 1km x 1km or 250m x 250m gridsize. </span>

In [85]:
# This useful if I want to give unique names to directories or files
import datetime
def curr_timestamp():
    current_datetime = datetime.datetime.now()
    formatted_datetime = current_datetime.strftime("%Y-%m-%d_%H-%M-%S")
    return formatted_datetime

### <span style=color:blue>Fetching the file state_county_lon_lat.csv which will be used below</span>

In [86]:
import pandas as pd

archive_dir = '/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/'
scll_filename = 'top_yielding_counties.csv'

df_scll = pd.read_csv(archive_dir + scll_filename)
print(df_scll.head())
print()
print(len(df_scll))

   county_name state_name  Value        lon        lat
0         LUCE   MICHIGAN   29.0 -85.555616  46.482414
1        MOORE  TENNESSEE   30.0 -86.341151  35.283563
2      JACKSON  TENNESSEE   30.0 -88.817742  35.614445
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856
4        LEWIS  TENNESSEE   31.0 -87.495026  35.529150

726

### <span style=color:blue>Fetching several .tif files using urllib.</span>

<span style=color:blue>I selected this by visual inspection of various GAEZ data sets.  I was looking for data based on soil that appeared to differentiate parts of my region of interest.</span>
    
### <span style=color:blue>Note: for the 1st, 3rd and 4th tif files fetched below, the pixel values are categorical.  So we will have to use one-hot encodings for these</span>

In [87]:
import urllib

tif_dir = "/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/"

url = {}

# using Land and Water Resources / Dominant AEZ class (33 classes) at 5 arc-minutes
# Based on 33 AEZ classes, even though pixel values are integer

url['AEZ_classes'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/LR/aez/aez_v9v2red_5m_CRUTS32_Hist_8110_100_avg.tif"

# Using the URL of TIF file Soil Resources / Nutrient retention capacity, high inputs
# Based on 1 to 10, corresponding to bands 0.0 to 0.1; 0.1 to 02; etc.  So basically a numeric parameter

url['nutr_ret_high'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/LR/soi1/SQ2_mze_v9aH.tif"

# using Land and Water Resources / Soil Resources / Most limiting soil quality rating factor, high inputs
# Based on 11 soil categories (and water), even though pixel values are integer

url['soil_qual_high'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/LR/soi1/SQ0_mze_v9aH.tif"

# using Land and Water Resources / Soil Resources / Most limiting soil quality rating factor, low inputs
# same as previous

url['soil_qual_low'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/LR/soi1/SQ0_mze_v9aL.tif"

# Leaving this one out because it is 43200 x 21600 pixels; don't want to work with different size input for now...
# using Land and Water Resources / Soil suitability, rain-fed, low-inputs
# url['soil_suit_rain_low'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/LR/soi2/siLr_sss_mze.tif"

# using Suitability and Attainable Yield / Suitability Index / Suitability index range (0-10000);
#   within this chose crop = soybean; time period = 1981 to 2010; others empty
# this has numeric values from 0 to 10,000
url['suit_irrig_high_soy'] = "https://s3.eu-west-1.amazonaws.com/data.gaezdev.aws.fao.org/res05/CRUTS32/Hist/8110L/sxLa_whe.tif"


urlkeys = url.keys()
print(urlkeys)

# Fetch the TIF files using the associated URLs

#curr = curr_timestamp()
curr = "6_5"
fileFullName = {}

# fetching the tif files from web and writing into local files
for k in urlkeys:
    fileFullName[k] = tif_dir + curr + '__' + k + '.tif'
    print(fileFullName[k])
    urllib.request.urlretrieve(url[k], fileFullName[k])

dict_keys(['AEZ_classes', 'nutr_ret_high', 'soil_qual_high', 'soil_qual_low', 'suit_irrig_high_soy'])
/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__AEZ_classes.tif
/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__nutr_ret_high.tif
/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_high.tif
/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_low.tif
/Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__suit_irrig_high_soy.tif

### <span style=color:blue>Fetching meta-data about the .tif files using GDAL, specifically the command-line operator gdalinfo.</span>

In [88]:
import json
import subprocess
import sys
from osgeo import gdal


def pull_useful(ginfo):  # should give as input the result.stdout from calling gdalinfo -json
    useful = {}
    useful['band_count'] = len(ginfo['bands'])
    # useful['cornerCoordinates'] = ginfo['cornerCoordinates']
    # useful['proj:transform'] = ginfo['stac']['proj:transform']
    useful['size'] = ginfo['size']
    # useful['bbox'] = ginfo['stac']['proj:projjson']['bbox']
    # useful['espgEncoding'] = ginfo['stac']['proj:epsg']
    return useful

gdalInfoReq = {}
gdalInfo = {}

useful = {}
for k in urlkeys:
    gdalInfoReq[k] = " ".join(["gdalinfo", "-json", fileFullName[k]])
    print(gdalInfoReq[k])
    result = subprocess.run([gdalInfoReq[k]], shell=True, capture_output=True, text=True)
    gdalInfo[k] = json.loads(result.stdout)
# #     # if k == 'AEZ_classes':
# #     #     print(json.dumps(gdalInfo[k], indent=2, sort_keys=True))

    useful[k] = pull_useful(gdalInfo[k])
    print('\n', k)
    print(json.dumps(useful[k], indent=2, sort_keys=True))

gdalinfo -json /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__AEZ_classes.tif

 AEZ_classes
{
  "band_count": 1,
  "size": [
    4320,
    2160
  ]
}
gdalinfo -json /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__nutr_ret_high.tif

 nutr_ret_high
{
  "band_count": 1,
  "size": [
    4320,
    2160
  ]
}
gdalinfo -json /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_high.tif

 soil_qual_high
{
  "band_count": 1,
  "size": [
    4320,
    2160
  ]
}
gdalinfo -json /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_low.tif

 soil_qual_low
{
  "band_count": 1,
  "size": [
    4320,
    2160
  ]
}
gdalinfo -json /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__suit_irrig_high_soy.tif

 suit_irrig_high_soy
{
  "band_count": 1,
  "size": [
    4320,
    2160
  ]
}

<span style=color:blue>Function to pull value from a pixel.  (Thanks to Claudio Spiess)   </span>

In [102]:
# following https://gis.stackexchange.com/a/299791, adapted to fetch just one pixel

import rasterio

def get_coordinate_pixel(tiff_file, lon, lat):
    dataset = rasterio.open(tiff_file)
    py, px = dataset.index(lon, lat)
    # create 1x1px window of the pixel
    window = rasterio.windows.Window(px, py, 1, 1)
    # read rgb values of the window
    clip = dataset.read(window=window)
    # print(clip)
    return clip[0][0][0]

# testing the function
tiff_file = fileFullName['AEZ_classes']
# tiff_file = '/Users/rick/AG-CODE--v03/GAEZ-SOIL-for-ML/OUTPUTS/2023-05-20_23-09-36__AEZ_classes.tif'
for i in range(len(df_scll)):
    print(df_scll.iloc[[i]])
    test_lon = df_scll.iloc[i]['lon']
    test_lat = df_scll.iloc[i]['lat']
    print(test_lon, test_lat, type(test_lon), type(test_lat))
    print()
    
    val = get_coordinate_pixel(tiff_file, test_lon, test_lat)
    print(type(val))
    print(val)

  county_name state_name  Value        lon        lat
0        LUCE   MICHIGAN   29.0 -85.555616  46.482414
-85.5556156 46.4824144 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
28
  county_name state_name  Value        lon        lat
1       MOORE  TENNESSEE   30.0 -86.341151  35.283563
-86.3411514 35.2835629 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
15
  county_name state_name  Value        lon        lat
2     JACKSON  TENNESSEE   30.0 -88.817742  35.614445
-88.8177418 35.6144446 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856
-86.2333022 32.5348561 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
  county_name state_name  Value        lon       lat
4       LEWIS  TENNESSEE   31.0 -87.495026  35.52915
-87.4950257 35.5291497 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
  county_name state_name  Value        lon       lat
5       ROANE  TENNESSEE   32.0 -84.522552  35.84857
-84.5225522 35.84857 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
  county_name state_name  Value        lon        lat
6    CLEBURNE    ALABAMA   33.0 -85.501736  33.650696
-85.5017359 33.6506958 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
  county_name state_name  Value        lon        lat
7     HOUSTON  TENNESSEE   33.0 -87.740657  36.269616
-87.7406571 36.2696163 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
  county_name state_name  Value        lon        lat
8        CLAY  TENNESSEE   34.0 -85.532306  36.512592
-85.5323062 36.5125924 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
  county_name state_name  Value        lon        lat
9    CHAMBERS    ALABAMA   35.0 -85.386695  32.890166
-85.3866953 32.8901658 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
10       HENRY   VIRGINIA   41.0 -79.924292  36.672581
-79.9242922 36.6725813 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
11    FRANKLIN   KENTUCKY   44.0 -84.863381  38.252042
-84.8633812 38.2520423 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
12   PENDLETON   KENTUCKY   47.8 -84.368914  38.691461
-84.3689142 38.6914606 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon       lat
13       WYTHE   VIRGINIA   48.0 -81.063935  36.91184
-81.0639347 36.9118401 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
       county_name  state_name  Value         lon        lat
14  SAN BERNARDINO  CALIFORNIA   50.0 -116.083314  34.825302
-116.0833144 34.8253019 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
29
   county_name state_name  Value       lon       lat
15      SUMMIT       OHIO   51.8 -81.53336  41.14579
-81.5333603 41.1457902 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
16    SULLIVAN  TENNESSEE   54.0 -82.286903  36.496667
-82.286903 36.4966673 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
17   ALLEGHANY   VIRGINIA   56.0 -80.022717  37.816702
-80.0227166 37.8167022 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
17
   county_name state_name  Value       lon       lat
18  ROCKBRIDGE   VIRGINIA   56.0 -79.46226  37.83318
-79.4622597 37.8331804 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
19      PUTNAM  TENNESSEE   57.0 -85.455378  36.137987
-85.4553784 36.1379872 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
20      BENZIE   MICHIGAN   60.0 -85.992845  44.640887
-85.9928452 44.6408868 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon       lat
21     BULLOCK    ALABAMA   62.0 -85.709166  32.09929
-85.7091657 32.09929 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
22  MONTGOMERY   VIRGINIA   62.7 -81.328445  38.180383
-81.3284452 38.1803833 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
23    HAMILTON       OHIO   62.8 -84.550187  39.208535
-84.5501874 39.2085354 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
32
   county_name state_name  Value        lon       lat
24         LEE    ALABAMA   65.0 -85.307704  32.58148
-85.3077038 32.5814796 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value         lon        lat
25      BONNER      IDAHO   66.0 -116.595272  48.266357
-116.5952716 48.2663565 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
26     PULASKI   VIRGINIA   67.0 -80.729729  37.058057
-80.7297289 37.0580572 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name  state_name  Value         lon        lat
27       CLARK  WASHINGTON   70.0 -122.494087  45.766905
-122.4940866 45.7669047 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon       lat
28      ETOWAH    ALABAMA   73.7 -86.022147  34.03714
-86.022147 34.0371404 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
29   JEFFERSON       OHIO   74.9 -80.784762  40.379294
-80.7847619 40.3792938 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
30  CHARLEVOIX   MICHIGAN   75.0 -84.967639  45.202075
-84.9676387 45.202075 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
31   CLAIBORNE  TENNESSEE   83.0 -83.678638  36.467316
-83.6786377 36.4673161 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
32      SAWYER  WISCONSIN   86.0 -91.146829  45.873163
-91.1468287 45.8731634 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value         lon        lat
33       BOISE      IDAHO   90.0 -116.242109  43.600818
-116.24210864118032 43.6008183 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
32
   county_name state_name  Value        lon        lat
34     CHILTON    ALABAMA   90.8 -86.703284  32.852257
-86.7032845 32.8522565 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
35    FRANKLIN    ALABAMA   91.4 -87.833906  34.440962
-87.8339064 34.440962 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
15
   county_name state_name  Value        lon        lat
36     DICKSON  TENNESSEE   92.0 -87.348059  36.145933
-87.3480592 36.1459327 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
37       MEIGS       OHIO   93.0 -82.042077  39.109929
-82.0420769 39.1099292 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
38   ONTONAGON   MICHIGAN   93.5 -89.329379  46.647188
-89.3293792 46.6471877 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
39    ALLEGANY   MARYLAND   99.0 -78.655063  39.657245
-78.6550628 39.6572451 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
17
   county_name state_name  Value        lon        lat
40     GARRETT   MARYLAND   99.0 -79.249698  39.544087
-79.2496976 39.544087 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
41       EMMET   MICHIGAN  100.0 -84.856797  45.506404
-84.8567966 45.5064041 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
42       COCKE  TENNESSEE  101.0 -83.103978  35.946709
-83.103978 35.9467093 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
15
   county_name state_name  Value        lon       lat
43      SUMTER    ALABAMA  101.9 -88.183799  32.52347
-88.1837986 32.5234698 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
44       PEPIN  WISCONSIN  109.0 -92.010193  44.635157
-92.0101928 44.6351571 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
45      FOREST  WISCONSIN  112.0 -88.806738  45.625108
-88.806738 45.625108 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
46     BRACKEN   KENTUCKY  114.0 -84.075146  38.686946
-84.0751461 38.686946 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
47       ADAMS      IDAHO  116.0 -116.45724  44.867745
-116.4572399 44.8677448 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
19
   county_name state_name  Value        lon        lat
48      MORGAN       OHIO  124.8 -81.877978  39.594395
-81.877978 39.5943953 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value       lon     lat
49        KNOX  TENNESSEE  125.0 -83.93756  35.986
-83.9375598 35.9859998 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
32
   county_name  state_name  Value         lon        lat
50      AMADOR  CALIFORNIA  126.0 -120.591102  38.449089
-120.5911018 38.449089 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
13
   county_name state_name  Value        lon        lat
51       BOONE   KENTUCKY  126.0 -84.716012  38.958923
-84.7160121 38.9589235 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
    county_name state_name  Value        lon        lat
52  SCHOOLCRAFT   MICHIGAN  126.8 -86.183384  46.190294
-86.1833841 46.1902943 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
28
   county_name state_name  Value        lon        lat
53       WAYNE  TENNESSEE  128.0 -87.808437  35.249909
-87.8084373 35.2499093 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
54        BATH   KENTUCKY  131.5 -83.724924  38.124525
-83.7249243 38.1245248 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
55       PERRY  TENNESSEE  132.0 -87.849878  35.633799
-87.8498777 35.6337989 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
56    HAMILTON  TENNESSEE  133.0 -85.194079  35.175564
-85.1940792 35.1755638 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
15
   county_name state_name  Value        lon        lat
57        IRON   MICHIGAN  133.3 -88.546324  46.217858
-88.5463241 46.2178577 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name  state_name  Value         lon        lat
58       FERRY  WASHINGTON  136.0 -118.483436  48.473693
-118.4834362 48.4736934 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
19
   county_name  state_name  Value        lon        lat
59      ISLAND  WASHINGTON  139.0 -122.68424  48.216267
-122.6842402 48.2162669 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
60     MATHEWS   VIRGINIA  142.0 -76.331696  37.448139
-76.331696 37.4481394 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
61    DAVIDSON  TENNESSEE  147.0 -86.785786  36.189724
-86.7857862 36.189724 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
62       MACON    ALABAMA  151.7 -85.666031  32.366606
-85.6660307 32.366606 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
63     STEWART  TENNESSEE  151.8 -87.825276  36.509267
-87.8252756 36.5092672 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
64        OWEN   KENTUCKY  152.0 -84.819254  38.530319
-84.819254 38.5303187 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value         lon        lat
65       CAMAS      IDAHO  153.5 -114.807014  43.406402
-114.8070143 43.4064019 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
13
   county_name state_name  Value        lon        lat
66        RUSK  WISCONSIN  154.0 -91.124097  45.458975
-91.1240967 45.4589749 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
67     MARENGO    ALABAMA  158.6 -87.756936  32.201002
-87.7569365 32.201002 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
68     DOUGLAS  WISCONSIN  159.0 -91.905916  46.439604
-91.9059158 46.4396038 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
69     ASHLAND  WISCONSIN  162.3 -90.680259  46.206232
-90.6802594 46.2062319 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value       lon        lat
70     HAWKINS  TENNESSEE  164.0 -82.95689  36.429878
-82.9568899 36.429878 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
71      TAYLOR  WISCONSIN  164.2 -90.491587  45.205711
-90.4915874 45.2057106 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
72      ONEIDA  WISCONSIN  164.3 -89.477956  45.687916
-89.4779558 45.6879163 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value         lon        lat
73      VALLEY      IDAHO  167.4 -115.597884  44.747509
-115.5978843 44.7475094 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
14
   county_name state_name  Value        lon        lat
74      WILCOX    ALABAMA  170.7 -87.300517  31.952302
-87.3005169 31.9523021 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
75    BAYFIELD  WISCONSIN  171.3 -91.198318  46.471024
-91.1983175 46.4710241 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name  state_name  Value        lon       lat
76      CHELAN  WASHINGTON  178.8 -120.62769  47.80122
-120.6276904 47.8012197 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
77       LEWIS   KENTUCKY  180.0 -83.340034  38.519213
-83.3400338 38.5192128 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
78    CRAWFORD    INDIANA  184.5 -86.444022  38.304425
-86.444022 38.304425 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
79   MENOMINEE   MICHIGAN  186.7 -87.562159  45.578574
-87.562159 45.5785741 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
80   JESSAMINE   KENTUCKY  187.0 -84.576902  37.865287
-84.576902 37.8652866 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value       lon        lat
81    MACKINAC   MICHIGAN  189.5 -85.03367  46.085237
-85.0336698 46.085237 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
82     BURNETT  WISCONSIN  191.0 -92.267316  45.865244
-92.2673161 45.8652437 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
83       LAMAR    ALABAMA  192.0 -88.100369  33.749002
-88.1003689 33.7490016 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value      lon        lat
84       BROWN    INDIANA  197.0 -86.2297  39.168286
-86.2297004 39.1682855 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
85    STAFFORD   VIRGINIA  199.0 -77.457978  38.416727
-77.4579783 38.4167265 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
17
   county_name state_name  Value        lon        lat
86     HAMBLEN  TENNESSEE  199.0 -83.267995  36.206807
-83.267995 36.2068067 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value      lon        lat
87      BLOUNT    ALABAMA  202.1 -86.5702  33.951017
-86.5702002 33.9510169 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
88     HOCKING       OHIO  205.9 -82.546972  39.464449
-82.5469722 39.4644491 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
89    LEELANAU   MICHIGAN  208.0 -85.811992  44.887879
-85.8119919 44.8878795 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
90       PERRY    ALABAMA  208.5 -87.287664  32.642139
-87.2876639 32.6421387 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
12
   county_name state_name  Value        lon        lat
91   TROUSDALE  TENNESSEE  212.0 -86.133216  36.388238
-86.1332156 36.3882376 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
92     DECATUR  TENNESSEE  214.0 -88.108398  35.606788
-88.1083982 35.6067875 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
18
   county_name state_name  Value        lon        lat
93     LINCOLN  WISCONSIN  214.4 -89.732622  45.326563
-89.7326216 45.3265631 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
20
   county_name state_name  Value        lon        lat
94    CHIPPEWA   MICHIGAN  214.6 -84.642856  46.311115
-84.6428564 46.3111149 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
21
   county_name state_name  Value        lon        lat
95      MOBILE    ALABAMA  216.8 -88.084893  30.686734
-88.0848929 30.6867339 <class 'numpy.float64'> <class 'numpy.float64'>

<class 'numpy.uint8'>
32
   county_name state_name  Value        lon       lat
96       MEIGS  TENNESSEE  218.0 -84.810972  35.51017

## <span style=color:blue>Now adding all 5 soil values to the rows of df_scll.  This takes a while to run. </span>

<span style=color:blue>With the rasterio function, the retrieved values are of type int.  If using the gdalinfo-based fucntion, then the values coming from the XML are all strings, one should convert to int when loading into the new df that we are building</span>

In [106]:
df3 = df_scll.copy()
print(df3.head())
print(len(df3))

for k in urlkeys:
#     df3[k] = df3.apply(lambda r: fetch_tif_value(r['lon'], r['lat'], k, False), axis=1)
    tiff_file = fileFullName[k]
    df3[k] = df3.apply(lambda r: get_coordinate_pixel(tiff_file, r['lon'], r['lat']), axis=1)
    
print()
print(df3.head())
print(len(df3))

df3.to_csv("./soil_data.csv", index=False)

   county_name state_name  Value        lon        lat
0         LUCE   MICHIGAN   29.0 -85.555616  46.482414
1        MOORE  TENNESSEE   30.0 -86.341151  35.283563
2      JACKSON  TENNESSEE   30.0 -88.817742  35.614445
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856
4        LEWIS  TENNESSEE   31.0 -87.495026  35.529150
726

   county_name state_name  Value        lon        lat  AEZ_classes  \
0         LUCE   MICHIGAN   29.0 -85.555616  46.482414           28
1        MOORE  TENNESSEE   30.0 -86.341151  35.283563           15
2      JACKSON  TENNESSEE   30.0 -88.817742  35.614445           18
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856           12
4        LEWIS  TENNESSEE   31.0 -87.495026  35.529150           18

   nutr_ret_high  soil_qual_high  soil_qual_low  suit_irrig_high_soy
0              9               7              7                 6557
1              9               6              6                 5025
2             10              10              9                 6913
3              8               6              6                 5486
4              8               6              6                 3869
726

<span style=color:blue>Looking at full set of values for each of the soil attributes.</span>

In [91]:
for k in urlkeys:
    print()
    print(k)
    print()
    print(df3[[k]].drop_duplicates().head(100))

AEZ_classes

     AEZ_classes
0             28
1             15
2             18
3             12
13            21
14            29
17            17
20            20
23            32
47            19
50            13
73            14
125           26
173           10
209           25
212           11
251           27
282           33
661           16

nutr_ret_high

    nutr_ret_high
0               9
2              10
3               8
60             13
75              7

soil_qual_high

     soil_qual_high
0                 7
1                 6
2                10
8                 5
11                9
22                4
38                8
47                3
60               13
209               2

soil_qual_low

     soil_qual_low
0                7
1                6
2                9
8                5
12              10
22               4
32              13
33               8
205              3
209              2

suit_irrig_high_soy

     suit_irrig_high_soy
0                   6557
1                   5025
2                   6913
3                   5486
4                   3869
..                   ...
97                  3767
98                  2234
100                 2601
101                 3150
102                 3438

[100 rows x 1 columns]

## <span style=color:blue>Replacing the columns for 'AEZ_classes', 'soil_qual_high', 'soil_qual_low' with multiple "1-hot" columns.   (We could also use the OneHotEncoder from scikit, but I'm choosing to do it here and now on the raw data.)</span>

<span style=color:blue>Following https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python</span>

In [103]:
df4 = df3.copy()

# Get one hot encoding of columns 'AEZ-classes'
one_hot = pd.get_dummies(df4['AEZ_classes'])
# Drop original as it is now encoded
df4 = df4.drop('AEZ_classes',axis = 1)
# Join the encoded df
df4 = df4.join(one_hot)

print(len(df4))
print(df4.head())
print(df4.columns.tolist())
# output was ['state_name', 'county_name', 'lon', 'lat', 'nutr_ret_high', 
#             'soil_qual_high', 'soil_qual_low', 'suit_irrig_high_soy', 
#              16, 17, 18, 19, 20, 21, 27, 28, 32]

print()
cols = { 16: 'AEZ_1',
         17: 'AEZ_2',
         18: 'AEZ_3',
         19: 'AEZ_4',
         20: 'AEZ_5',
         21: 'AEZ_6',
         27: 'AEZ_7',
         28: 'AEZ_8',
         32: 'AEZ_9'}
df4 = df4.rename(columns=cols)
print(df4.columns.tolist())
print(df4.head())

726
   county_name state_name  Value        lon        lat  nutr_ret_high  \
0         LUCE   MICHIGAN   29.0 -85.555616  46.482414              9
1        MOORE  TENNESSEE   30.0 -86.341151  35.283563              9
2      JACKSON  TENNESSEE   30.0 -88.817742  35.614445             10
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856              8
4        LEWIS  TENNESSEE   31.0 -87.495026  35.529150              8

   soil_qual_high  soil_qual_low  suit_irrig_high_soy     10  ...     19  \
0               7              7                 6557  False  ...  False
1               6              6                 5025  False  ...  False
2              10              9                 6913  False  ...  False
3               6              6                 5486  False  ...  False
4               6              6                 3869  False  ...  False

      20     21     25     26     27     28     29     32     33
0  False  False  False  False  False   True  False  False  False
1  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False

[5 rows x 28 columns]
['county_name', 'state_name', 'Value', 'lon', 'lat', 'nutr_ret_high', 'soil_qual_high', 'soil_qual_low', 'suit_irrig_high_soy', 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 25, 26, 27, 28, 29, 32, 33]

['county_name', 'state_name', 'Value', 'lon', 'lat', 'nutr_ret_high', 'soil_qual_high', 'soil_qual_low', 'suit_irrig_high_soy', 10, 11, 12, 13, 14, 15, 'AEZ_1', 'AEZ_2', 'AEZ_3', 'AEZ_4', 'AEZ_5', 'AEZ_6', 25, 26, 'AEZ_7', 'AEZ_8', 29, 'AEZ_9', 33]
   county_name state_name  Value        lon        lat  nutr_ret_high  \
0         LUCE   MICHIGAN   29.0 -85.555616  46.482414              9
1        MOORE  TENNESSEE   30.0 -86.341151  35.283563              9
2      JACKSON  TENNESSEE   30.0 -88.817742  35.614445             10
3  SAINT CLAIR    ALABAMA   30.0 -86.233302  32.534856              8
4        LEWIS  TENNESSEE   31.0 -87.495026  35.529150              8

   soil_qual_high  soil_qual_low  suit_irrig_high_soy     10  ...  AEZ_4  \
0               7              7                 6557  False  ...  False
1               6              6                 5025  False  ...  False
2              10              9                 6913  False  ...  False
3               6              6                 5486  False  ...  False
4               6              6                 3869  False  ...  False

   AEZ_5  AEZ_6     25     26  AEZ_7  AEZ_8     29  AEZ_9     33
0  False  False  False  False  False   True  False  False  False
1  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False

[5 rows x 28 columns]

In [119]:
import pandas as pd


weather = pd.read_csv('weekly_weather_data.csv')
soil = pd.read_csv('soil_data.csv')
soil_weather = pd.merge(weather, soil, on=['state_name','county_name'], how='left')
soil_weather.to_csv('./soil_weather_data.csv', index=False)

In [149]:
data = pd.read_csv('soil_weather_data.csv')
to_be_removed = []

for col in data.columns:
    if 'HDD10' not in col and col !='year' and col !='state_name' and col!='county_name':
        to_be_removed.append(col)

for i in to_be_removed:
    data.pop(i)

data.to_csv('./SNODP.csv', index=False)

In [150]:
data = pd.read_csv('soil_weather_data.csv')
to_be_removed = []

for col in data.columns:
    if "SNODP" not in col and col !='year' and col !='state_name' and col!='county_name':
        to_be_removed.append(col)

for i in to_be_removed:
    data.pop(i)
    
data.to_csv('./HDD10.csv', index=False)

In [123]:
# making a copy of df4, because may run this cell a couple of times as I develop it
df5 = df4.copy()

print(df4.shape)

# Get one hot encoding of columns 'soil_qual_high'
one_hot1 = pd.get_dummies(df5['soil_qual_low'])
# Drop original as it is now encoded
df5 = df5.drop('soil_qual_low',axis = 1)
print(one_hot1)
print(df5.shape)
# Join the encoded df
df5 = df5.join(one_hot1)

print(len(df5))
print(df5.head())
print(df5.columns.tolist())
# output was ['state_name', 'county_name', 'lon', 'lat', 'nutr_ret_high', 
#             'soil_qual_low', 'suit_irrig_high_soy', 'AEZ_1', 'AEZ_2', 'AEZ_3', 
#             'AEZ_4', 'AEZ_5', 'AEZ_6', 'AEZ_7', 'AEZ_8', 'AEZ_9', 
#             4, 5, 6, 7, 8, 9, 10]

print()
cols = { 4: 'SQH_1',
         5: 'SQH_2',
         6: 'SQH_3',
         7: 'SQH_4',
         8: 'SQH_5',
         9: 'SQH_6',
         10: 'SQH_7'}
df5 = df5.rename(columns=cols)
print(df5.columns.tolist())
print(df5.head())

(726, 28)
        2      3      4      5      6      7      8      9      10     13
0    False  False  False  False  False   True  False  False  False  False
1    False  False  False  False   True  False  False  False  False  False
2    False  False  False  False  False  False  False   True  False  False
3    False  False  False  False   True  False  False  False  False  False
4    False  False  False  False   True  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
721  False  False  False  False  False  False   True  False  False  False
722  False  False  False  False  False  False  False   True  False  False
723  False  False  False  False  False  False   True  False  False  False
724  False  False  False  False  False  False  False   True  False  False
725  False  False  False  False  False  False  False   True  False  False

[726 rows x 10 columns]
(726, 27)

ValueError: columns overlap but no suffix specified: Index([10, 13], dtype='object')

In [ ]:
# making a copy of df5, because may run this cell a couple of times as I develop it
df6 = df5.copy()

# Get one hot encoding of columns 'soil_qual_low'
one_hot2 = pd.get_dummies(df6['soil_qual_low'])
# Drop original as it is now encoded
df6 = df6.drop('soil_qual_low',axis = 1)
# Join the encoded df
df6 = df6.join(one_hot2)

print(len(df6))
print(df6.head())
print(df6.columns.tolist())
# output was ['state_name', 'county_name', 'lon', 'lat', 'nutr_ret_high', 
#             'suit_irrig_high_soy', 'AEZ_1', 'AEZ_2', 'AEZ_3', 'AEZ_4', 
#             'AEZ_5', 'AEZ_6', 'AEZ_7', 'AEZ_8', 'AEZ_9', 
#             'SQH_1', 'SQH_2', 'SQH_3', 'SQH_4', 'SQH_5', 'SQH_6', 'SQH_7', 
#              4, 5, 6, 7, 8, 9, 10]

print()
cols = { 4: 'SQL_1',
         5: 'SQL_2',
         6: 'SQL_3',
         7: 'SQL_4',
         8: 'SQL_5',
         9: 'SQL_6',
         10: 'SQL_7'}
df6 = df6.rename(columns=cols)
print(df6.columns.tolist())
print(df6.head())

ValueError: columns overlap but no suffix specified: Index([10, 13], dtype='object')

<span style=color:blue>Archiving this df     </span>

In [ ]:
archives_dir = '/Users/rick/AG-CODE--v03/ML-ARCHIVES--v01/'
filename = 'state_county_lon_lat_soil.csv'
df6.to_csv(archives_dir + filename, index=False)
print('wrote file: ', archives_dir + filename)

OSError: Cannot save file into a non-existent directory: '/Users/rick/AG-CODE--v03/ML-ARCHIVES--v01'

### <span style=color:blue>Comparing the pixel value obtained by the rasterio-based function with pixel value obtained by using gdalinfo and then extraction from the XML that is returned   </span>

In [ ]:
import xml.etree.ElementTree as ET

# converting from lat/long into a pixel location for a global tif with size 4320x2160
def convert_to_pix(lon, lat):
    x = round((lon + 180) * 12)
    y = round((90 - lat) * 12)
    return x,y

# recall: fullFileName[k] holds full dir + file name for key k
f = fileFullName['AEZ_classes']
# f = '/Users/rick/AG-CODE--v03/GAEZ-SOIL-for-ML/OUTPUTS/2023-05-20_23-09-36__AEZ_classes.tif'

print(df_scll.iloc[[0]])
test_lon = df_scll.iloc[0]['lon']
test_lat = df_scll.iloc[0]['lat']
print(test_lon, test_lat, type(test_lon), type(test_lat))


x,y = convert_to_pix(test_lon, test_lat)

print(x,y)

# gdal terminal command to fectch pixel value
val = " ".join(['gdallocationinfo -xml', fileFullName['AEZ_classes'], str(x), str(y)])
print(val)

result = subprocess.run([val], 
                         shell=True, capture_output=True,text=True)
print(result.stdout)
print(result.stderr)

root = ET.fromstring(result.stdout)
val_out = root[0][0].text
print(val_out)

  county_name state_name  Value        lon        lat
0        LUCE   MICHIGAN   29.0 -85.555616  46.482414
-85.5556156 46.4824144 <class 'numpy.float64'> <class 'numpy.float64'>
1133 522
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__AEZ_classes.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>28</Value>
  </BandReport>
</Report>


28

<span style=color:blue>Now checking the structure of the outputs from each of the 5 .tif files.  Each of them has just 1 band, and so the rasterio-based function above will work</span>

In [ ]:
# still working with the location of first county -- in df_scll.iloc[[0]]

for k in urlkeys:
    print()
    print(k)
    
    val = " ".join(['gdallocationinfo -xml', fileFullName[k], str(x), str(y)])
    print(val)

    result = subprocess.run([val], 
                             shell=True, capture_output=True,text=True)
    print(result.stdout)
    print(result.stderr)

    root = ET.fromstring(result.stdout)
    val_out = root[0][0].text
    print(val_out)

nutr_ret_high
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__nutr_ret_high.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>9</Value>
  </BandReport>
</Report>


9

soil_qual_high
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_high.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>7</Value>
  </BandReport>
</Report>


7

soil_qual_low
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__soil_qual_low.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>7</Value>
  </BandReport>
</Report>


7

suit_irrig_high_soy
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__suit_irrig_high_soy.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>6557</Value>
  </BandReport>
</Report>


6557

AEZ_classes
gdallocationinfo -xml /Users/callyso/Documents/Computing-for-Food-Security/CODING-EXAMPLES/Project3/Outputs/6_5__AEZ_classes.tif 1133 522
<Report pixel="1133" line="522">
  <BandReport band="1">
    <Value>28</Value>
  </BandReport>
</Report>


28